:root{
    --ppl: #9333ea;
    --red: #EA3833;
    --green: #8AEA33;
    --blue: #33E5EA;
    --grey: #e7e5e4;
    --white: azure;
    --darkGreen: darkolivegreen;
}

body{
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--darkGreen);
    display: flex;
    flex-flow: column;
    gap: 5vh;
}

#header{
    background-color: var(--ppl);
    width: 100vw;
}

#header h1{
    margin-left: 40vw;
    margin-right: 40vw;
    color: var(--green);
}

#booksContainer{
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    gap: 2vw;
}

.bookCards{
    background-color: var(--blue);
    border-radius: 1rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
}

#add{
    align-self: center;
    padding: 3vw;
    border-radius: 5vw;
    border: var(--red) solid 1px;
    font-weight: bold;
}

* {
    box-sizing: border-box;
  }
  .loginPopup {
    position: relative;
    text-align: center;
    width: 100%;
  }
  .formPopup {
    display: none;
    position: fixed;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 5%);
    border: 3px solid #999999;
    z-index: 9;
    border-radius: 1rem;
  }
  .formContainer {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 1rem;

  }
  .formContainer input[type=text],
  .formContainer input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    background: #eee;
  }
  .formContainer input[type=text]:focus,
  .formContainer input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  .formContainer .btn {
    padding: 12px 20px;
    border: none;
    background-color: #8ebf42;
    color: #fff;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    opacity: 0.8;
  }
  .formContainer .cancel {
    background-color: #cc0000;
  }
  .formContainer .btn:hover,
  .openButton:hover {
    opacity: 1;
  }

  .butContainer{
    display: flex;
    gap: 1rem;
    margin: 0.5rem;
  }

  .butContainer button{
    border-radius: 50%;
    border: None;
    background-color: var(--white);
    padding: 1vw;
  }